# Node / React
.env

# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
backend/backend/settings.py
*.sqlite3

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db

# Uploaded media files (optional, if you don't want large uploads in Git)
media/
resumes/